

h1 {
    color: blue;
}
h1 {
    color: blue;
    text-align: center;
    padding: 10%;

}
h1 {
    color: green;
    font-style: italic;
    text-align: center;
    background-image: pink;
    font-family: bold;

}   
p {
    font-family: sans-serif;
    
}   
ul {
    line-height: 40px
}
